<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.onyanov.itschanging">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ProjectFormActivity"
            android:label="@string/project_edit"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".SlideshowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>

</manifest>
